/* Font predefinito per tutto il body */
html, body {
    font-family: 'Lato', sans-serif;
  };

  
  /* Orbitron per titoli nativi e classi Bootstrap */
  h1, h2, h3, h4,
  .h1, .h2, .h3, .h4 {
    font-family: 'Orbitron', sans-serif;
  } 

/* Variabili CSS globali */
:root {
    --yellow: rgb(255, 232, 58);
    --black: rgb(23, 23, 23);
    --red:  rgb(235,33,46);
  }
  
  /* Sfondo personalizzato */
  .bg-yellow {
    background-color: var(--yellow) !important;
  }

  .bg-black{
    background-color: var(--black) ! important;
  }

  .bg-red {
    background-color: var(--red) ;
  }


  
  /* Colori testo */
  .text-black {
    color: var(--black) !important;
  }
  
  .text-red {
    color: var(--red);
  }
  
  .text-yellow {
    color: var(--yellow);
  }

  /* navbar */
  .nav-link{
    color:var(--yellow);
    font-weight: 700;
  }

  .logo{
    width: 50px;
  }

   .nav-link:hover{
    color: white;
    text-shadow: 2px 2px 5px var(--red), -2px -2px 5px var(--red);

   }

   .navbar{
    height: 70px;
   }