/* Font predefinito per tutto il body */
html, body {
    font-family: 'Lato', sans-serif;
  };

  
  /* Orbitron per titoli nativi e classi Bootstrap */
  h1, h2, h3, h4,
  .h1, .h2, .h3, .h4 {
    font-family: 'Orbitron', sans-serif;
  } 

/* Variabili CSS globali */
:root {
    --yellow: rgb(255, 232, 58);
    --black: rgb(23, 23, 23);
    --white: rgb(244, 244, 244);
  }
  
  /* Sfondo personalizzato */
  .bg-yellow {
    background-color: var(--yellow) !important;
  }

  .bg-black{
    background-color: var(--black);
  }

  .bg-white {
    background-color: var(--white) ;
  }


  
  /* Colori testo */
  .text-black {
    color: var(--black);
  }
  
  .text-white {
    color: var(--white);
  }
  
  .text-yellow {
    color: var(--yellow);
  }