/* Font predefinito per tutto il body */
html, body {
    font-family: 'Lato', sans-serif;
  };

  
  /* Orbitron per titoli nativi e classi Bootstrap */
  h1, h2, h3, h4,
  .h1, .h2, .h3, .h4 {
    font-family: 'Orbitron', sans-serif;
    color: var(--yellow);
  } 

/* Variabili CSS globali */
:root {
    --yellow: rgb(255, 232, 58);
    --black: rgb(23, 23, 23);
    --red:  rgb(235,33,46);
  }
  
  /* Sfondo personalizzato */
  .bg-yellow {
    background-color: var(--yellow) !important;
  }

  .bg-black{
    background-color: var(--black) ! important;
  }

  .bg-red {
    background-color: var(--red) ;
  }

  #navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: var(--black);
  height: 70px;
}

  .logo2{
    width: 100px;
    transition: 0.2s;
  }



  


  
  /* Colori testo */
  .text-black {
    color: var(--black) !important;
  }
  
  .text-red {
    color: var(--red);
  }
  
  .text-yellow {
    color: var(--yellow);
  }

  /* navbar */
  .nav-link{
    color:var(--yellow);
    font-weight: 700;
  }

  .logo{
    width: 50px;
  }

   .nav-link:hover{
    color: white;
    text-shadow: 2px 2px 5px var(--red), -2px -2px 5px var(--red);

   }

   body{
    background-color: var(--black);
    color: var(--yellow);
   }

   .navbar{
    height: 140px;
    transition: 0.5s;
   }


   /* header */

   .Header{
    background-image: linear-gradient(rgba(0,0,0),transparent, rgba(0,0,0)) ,url(https://media.istockphoto.com/id/1282788302/it/vettoriale/velocit%C3%A0-dello-spazio-linee-o-raggi-dinamici-astratti-di-starburst-illustrazione.jpg?s=612x612&w=0&k=20&c=DwPMB-0WSXTbR9FmQviGy-mcU2igZAS-DsfCe5pGrpw=);
    background-size: cover;
    background-repeat: no-repeat;

   }



   .btn-custom{
    color: var(--yellow);
    background-color: var(--black);
    border: 2px solid var(--yellow);
    border-radius: 50px;
    margin: 0px 15px;
    padding: 20px 30px;
    transition: 0.5s;
   }

   .btn-custom:hover{
    color: var(--black);
    background-color: var(--yellow);
    transform: scale(1.1);
   }
   .positioned{
    position: relative;
    top: -150px;
   }

   .col-custom{
    padding: 10px;
    border: 2px solid var(--black);
    cursor: pointer;
    transition: 0.5s;
    color: var(--black);
   }

   .col-custom:hover{
    transform: scale(1.1);
    background-color: var(--black) !important;
    color: var(--red);
    border: 2px solid var(--red);

   }


   /* numeri incrementali */

   .number{
    font-size: 50px;
    font-weight: 900;
   }



   @media screen and(max-widht: 600px) {
    
    .positioned{
      position: static;
    }
   }


   /* swiper */
   .swiper{
    height: 600px;
   }


   .card-review{
    height: 250px;
    width: 500px;
    border: 2px solid var(--yellow);
    border-radius: 20px;
   }


   .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
   }





   /* pagina degli annunci */


   .accordion-item, .accordion-button{
    background-color: var(--black);
    color: var(--yellow);
   }


   .accordion-button:not(.collapsed){
    color: var(--red);
    background-color: var(--black);
    box-shadow: none;
   } 

   
   .accordion-button, .accordion-item:focus{
    box-shadow:none;
   }

   .maxi{
    box-shadow: none;
   }


   .card-custom{
    width: 30%;
    border: 2px solid var(--yellow);
    border-radius: 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
   }